/* File: src/App.css */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.login-box {
  display: flex;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.image-section {
  flex: 1;
  padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;

}
.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
      padding-top: 55px;
    padding-bottom: 55px;
    padding-right: 54px;
    padding-left: 54px;
}


.login-form {
  width: 100%;
  max-width: 380px;
  text-align: center;
}

.logo-container {
  margin-bottom: 1rem;
}
.form-logo {
  width: 48px;
  height: 48px;
}

.login-form h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.login-form .highlight {
  color: #0046ff;
}

.login-form p {
  margin-bottom: 1.5rem;
  color: #666;
}

.required {
  color: red;
  font-weight: bold;
}

.input-with-prefix {
  position: relative;
  margin-bottom: 1rem;
  width: 90%;
}

.input-with-prefix .prefix {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #444;
  margin-left: 30px;
}

.input-with-prefix input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 48px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  padding-left: 80px;
}

input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.form-extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  margin-bottom: 1.2rem;
}

.form-extras a {
  text-decoration: none;
  color: #0046ff;
}

button {
  width: 100%;
  background-color: #0046ff;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

button:hover {
  background-color: #0035e0;
}

.register {
  font-size: 0.9rem;
}

.register a {
  color: #0046ff;
  text-decoration: none;
}
.form-logo{
   align-items: start;
    justify-content: start;
    display: grid
;
}
.flag-icon {
  width: 20px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
}
.highlight{
  padding-right: 10px;

}